
@{
    ViewData["Title"] = "Index";
}

<p>@ViewBag.Transient.Guid</p>
<p>@ViewBag.Scoped.Guid</p>
<p>@ViewBag.Singleton.Guid</p>
<p>@ViewBag.SingletonInstance.Guid</p>

<p>@ViewBag.Service.TransientService.Guid</p>
<p>@ViewBag.Service.ScopedService.Guid</p>
<p>@ViewBag.Service.SingletonService.Guid</p>
<p>@ViewBag.Service.SingletomInstanceService.Guid</p>


