<!DOCTYPE html>
<html>
<head>
</head>

<body>
@{
    ViewData["Title"] = "Механизм внедрения зависимостей в ASP.NET Core";
}

<h2>Механизм внедрения зависимостей в ASP.NET Core</h2>
<h3>SOLID</h3>
<ul type="square">
    <li><b>Single responsibility</b> (Принцип единственной ответственности) обо­зна­ча­ет, что каж­дый объ­ект дол­жен иметь одну обя­зан­ность и эта обя­зан­ность должна быть пол­но­стью инкап­су­ли­ро­вана в класс.</li>
    <li><b>Open-closed</b> (Принцип открытости/закрытости) декларирует, что про­грамм­ные сущ­но­сти (клас­сы, моду­ли, функ­ции и т. п.) должны быть открыты для рас­ши­ре­ния, но закрыты для изме­не­ния.</li>
    <li><b>Liskov substitution</b> (Прин­цип под­ста­новки Бар­бары Лис­ков) — функ­ции, кото­рые исполь­зуют базо­вый тип, должны иметь воз­мож­ность исполь­зо­вать под­типы базо­вого типа не зная об этом.</li>
    <li><b>Interface segregation</b> (Прин­цип раз­де­ле­ния интер­фейса) — кли­енты не должны зави­сеть от мето­дов, кото­рые они не исполь­зуют. Прин­цип раз­де­ле­ния интер­фей­сов гово­рит о том, что слиш­ком «тол­стые» интер­фейсы необ­хо­димо раз­де­лять на более малень­кие и спе­ци­фи­че­ские, чтобы кли­енты малень­ких интер­фей­сов знали только о мето­дах, кото­рые необ­хо­димы им в рабо­те. В ито­ге, при изме­не­нии метода интер­фейса не должны меняться кли­енты, кото­рые этот метод не исполь­зуют.</li>
    <li><b>Dependency inversion</b> (Прин­цип инвер­сии зави­си­мо­стей) — модули верх­них уров­ней не должны зави­сеть от моду­лей ниж­них уров­ней, а оба типа моду­лей должны зави­сеть от абстрак­ций; сами абстрак­ции не должны зави­сеть от дета­лей, а вот детали должны зави­сеть от абстракций.</li>
</ul>

<h3>Принцип Dependency Inversion</h3>
<p>Принцип инверсии зависимостей говорит о том, что конкретика должна зависеть от абстракций, а не наоборот. Абстракции – сущности которые могут поменять свое поведение (интерфейсы, абстрактные классы, делегаты или классы с виртуальными методами) и предлагает применять абстракции и полиморфизм. 
    Для этого необходимо проверить, зависят ли классы от каких-то других классов(непосредственно инстанцируют объекты других классов и т.д, что является <b>неявным управлением зависимостями</b>) и если эта зависимость имеет место, заменить на зависимость от абстракции. 
</p>  

<pre style='color:#d1d1d1;background:#111111;'><span style='color:#e66170; font-weight:bold; '>public</span> <span style='color:#e66170; font-weight:bold; '>class</span> BigService <span style='color:#d2cd86; '>:</span> IBigService
    <span style='color:#b060b0; '>{</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> ITransientService TransientService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> IScopedService ScopedService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> ISingletonService SingletonService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> ISingletomInstanceService SingletomInstanceService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>

    <span style='color:#e66170; font-weight:bold; '>public</span> BigService<span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span>
    <span style='color:#b060b0; '>{</span>
            TransientService <span style='color:#d2cd86; '>=</span> <span style='color:#e66170; font-weight:bold; '>new</span> TransientService<span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span><span style='color:#b060b0; '>;</span>
            ScopedService <span style='color:#d2cd86; '>=</span> <span style='color:#e66170; font-weight:bold; '>new</span> ScopedService<span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span><span style='color:#b060b0; '>;</span>
            SingletonService <span style='color:#d2cd86; '>=</span> <span style='color:#e66170; font-weight:bold; '>new</span> SingletonService<span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span><span style='color:#b060b0; '>;</span>
            SingletomInstanceService <span style='color:#d2cd86; '>=</span> <span style='color:#e66170; font-weight:bold; '>new</span> SingletomInstanceService<span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span><span style='color:#b060b0; '>;</span>
    <span style='color:#b060b0; '>}</span>
    <span style='color:#b060b0; '>}</span>
</pre>

<p>После рефакторинга должно остаться только одно место с зависимостями от конкретики (загончик для операторов new).
    При явном управлении зависимостями ожидается, что все нужные значения будут переданы в конструктор извне. Явными следует делать имена файлов, пути, порты, неудобны зависимости(файлы, консоль, UI, сеть, БД и т.д.), другие сервисы, алгоритмы, если их понадобится менять(стратегии), реализацию структуры данных, если ее понадобится менять.
</p>

<pre style='color:#d1d1d1;background:#111111;'><span style='color:#e66170; font-weight:bold; '>public</span> <span style='color:#e66170; font-weight:bold; '>class</span> BigService <span style='color:#d2cd86; '>:</span> IBigService
    <span style='color:#b060b0; '>{</span>
        <span style='color:#e66170; font-weight:bold; '>public</span> ITransientService TransientService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
        <span style='color:#e66170; font-weight:bold; '>public</span> IScopedService ScopedService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
        <span style='color:#e66170; font-weight:bold; '>public</span> ISingletonService SingletonService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
        <span style='color:#e66170; font-weight:bold; '>public</span> ISingletomInstanceService SingletomInstanceService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>

        <span style='color:#e66170; font-weight:bold; '>public</span> BigService<span style='color:#d2cd86; '>(</span>ITransientService transientService<span style='color:#d2cd86; '>,</span> IScopedService scopedService<span style='color:#d2cd86; '>,</span>
            ISingletonService singletonService<span style='color:#d2cd86; '>,</span> ISingletomInstanceService singletomInstanceService<span style='color:#d2cd86; '>)</span>
        <span style='color:#b060b0; '>{</span>
            TransientService <span style='color:#d2cd86; '>=</span> transientService<span style='color:#b060b0; '>;</span>
            ScopedService <span style='color:#d2cd86; '>=</span> scopedService<span style='color:#b060b0; '>;</span>
            SingletonService <span style='color:#d2cd86; '>=</span> singletonService<span style='color:#b060b0; '>;</span>
            SingletomInstanceService <span style='color:#d2cd86; '>=</span> singletomInstanceService<span style='color:#b060b0; '>;</span>
        <span style='color:#b060b0; '>}</span>
    <span style='color:#b060b0; '>}</span>
</pre>

<p> После применения принципов единственной ответственности и инверсии зависимостей диаграмма классов должна выглядеть примерно так:</p>

<img src="images/class_diagram.JPG" alt="">

<p>
    <b>Явное управление зависимостями:</b>
    <ul type="square">
        <li>Не вызывать статические методы</li>
        <li>Не вызывать конструкторы</li>
        <li>Ссылки на объекты передавать в конструктор</li>
    </ul>
</p>
    
<p>Зависимости в конструктор передает кто-то свыше, а ему кто свыше и т.д.</p>
    
<img src="images/need_to_go_deeper.jpg" alt="" />

<h3>Встроенный IoC-контейнер</h3>
<p>Контейнер позволяет автоматизировать создание графа зависимостей программы. Он занимается рекурсивным созданием классов через инъекцию зависимостей в конструктор (или в поля, свойства). 
    DI контейнер конфигурируется, ему рассказывают, какие реализации использовать в качестве каких абстракций. После чего его можно использовать. 
    Если попросить у контейнера класс, который не зависит от контейнера и считает, что все зависимости будут поданы сверху через конструктор. Контейнер ищет у класса подходящий конструктор, которому нужна другая абстракция абстракция, контейнер начинает создавать эту абстракцию и рекурсивно спускается, пока не дойдет до абстракции с конструктором без параметров. 
    В .NET есть встроенный контейнер <code>IServiceProvider</code>, он живет в пространстве имен <code>System</code>. 
    Чтобы его сконфигурировать и создать понадобится <code>IServiceCollection</code> из пространств имен <code>Microsoft.Extensions.DependencyInjection</code> и <code>Microsoft.Extensions.DependencyInjection.Abstractions</code>.
</p>

<h3>Примеры регистрации и внедрения зависимостей</h3>
<p>Добавление зависимостей в контейнер производится с помощью дженерик методов <code>AddTransient&lt;TServise, TImplementation&gt;(IServiseCollection)</code>, <code>AddScoped&lt;TServise, TImplementation&gt;(IServiseCollection)</code>, <code>AddSingleton&lt;TServise, TImplementation&gt;(IServiseCollection)</code> класса <code>ServiceCollection</code>.</p>

<pre style='color:#d1d1d1;background:#111111;'><span style='color:#e66170; font-weight:bold; '>var</span> serviceCollection <span style='color:#d2cd86; '>=</span> <span style='color:#e66170; font-weight:bold; '>new</span> ServiceCollection<span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span>
    <span style='color:#d2cd86; '>.</span>AddTransient<span style='color:#d2cd86; '>&lt;</span>ITransientService<span style='color:#d2cd86; '>,</span> TransientService<span style='color:#d2cd86; '>></span><span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span>
    <span style='color:#d2cd86; '>.</span>AddScoped<span style='color:#d2cd86; '>></span>IScopedService<span style='color:#d2cd86; '>,</span> ScopedService<span style='color:#d2cd86; '>></span><span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span>
    <span style='color:#d2cd86; '>.</span>AddSingleton<span style='color:#d2cd86; '>></span>ISingletonService<span style='color:#d2cd86; '>,</span> SingletonService<span style='color:#d2cd86; '>></span><span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span>
    <span style='color:#d2cd86; '>.</span>AddSingleton<span style='color:#d2cd86; '>></span>ISingletomInstanceService<span style='color:#d2cd86; '>></span><span style='color:#d2cd86; '>(</span><span style='color:#e66170; font-weight:bold; '>new</span> SingletonService<span style='color:#d2cd86; '>(</span>Guid<span style='color:#d2cd86; '>.</span>Empty<span style='color:#d2cd86; '>)</span><span style='color:#d2cd86; '>)</span>
    <span style='color:#d2cd86; '>.</span>AddTransient<span style='color:#d2cd86; '>></span>IBigService<span style='color:#d2cd86; '>,</span> BigService<span style='color:#d2cd86; '>></span><span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span><span style='color:#b060b0; '>;</span>

<span style='color:#e66170; font-weight:bold; '>var</span> container <span style='color:#d2cd86; '>=</span> serviceCollection<span style='color:#d2cd86; '>.</span>BuildServiceProvider<span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span><span style='color:#b060b0; '>;</span>
</pre>
    
<p>В ASP.NET Core регистрация зависимостей происходит в методе <code>ConfigureServices()</code> класса <code>Startup</code>.</p>
    
<pre style='color:#d1d1d1;background:#111111;'><span style='color:#e66170; font-weight:bold; '>public</span> <span style='color:#e66170; font-weight:bold; '>class</span> Startup
    <span style='color:#b060b0; '>{</span>
    <span style='color:#d2cd86; '>.</span><span style='color:#d2cd86; '>.</span><span style='color:#d2cd86; '>.</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> <span style='color:#e66170; font-weight:bold; '>void</span> ConfigureServices<span style='color:#d2cd86; '>(</span>IServiceCollection services<span style='color:#d2cd86; '>)</span>
    <span style='color:#b060b0; '>{</span>
            services<span style='color:#d2cd86; '>.</span>AddTransient<span style='color:#d2cd86; '>&lt;</span>ITransientService<span style='color:#d2cd86; '>,</span> TransientService<span style='color:#d2cd86; '>></span><span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span>
    <span style='color:#d2cd86; '>.</span>AddScoped<span style='color:#d2cd86; '>&lt;</span>IScopedService<span style='color:#d2cd86; '>,</span> ScopedService<span style='color:#d2cd86; '>></span><span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span>
    <span style='color:#d2cd86; '>.</span>AddSingleton<span style='color:#d2cd86; '>&lt;</span>ISingletonService<span style='color:#d2cd86; '>,</span> SingletonService<span style='color:#d2cd86; '>></span><span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span>
    <span style='color:#d2cd86; '>.</span>AddSingleton<span style='color:#d2cd86; '>&lt;</span>ISingletomInstanceService<span style='color:#d2cd86; '>></span><span style='color:#d2cd86; '>(</span><span style='color:#e66170; font-weight:bold; '>new</span> SingletonService<span style='color:#d2cd86; '>(</span>Guid<span style='color:#d2cd86; '>.</span>Empty<span style='color:#d2cd86; '>)</span><span style='color:#d2cd86; '>)</span>
    <span style='color:#d2cd86; '>.</span>AddTransient<span style='color:#d2cd86; '>&lt;</span>IBigService<span style='color:#d2cd86; '>,</span> BigService<span style='color:#d2cd86; '>></span><span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span><span style='color:#b060b0; '>;</span>

            services<span style='color:#d2cd86; '>.</span>AddMvc<span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span><span style='color:#b060b0; '>;</span>
    <span style='color:#b060b0; '>}</span>
    <span style='color:#d2cd86; '>.</span><span style='color:#d2cd86; '>.</span><span style='color:#d2cd86; '>.</span>
    <span style='color:#b060b0; '>}</span>
</pre>

<p>Вытащить из контейнера реализацию <code>ITransientService</code> можно следующим образом:</p>

<pre style='color:#d1d1d1;background:#111111;'><span style='color:#e66170; font-weight:bold; '>var</span> transientService <span style='color:#d2cd86; '>=</span> container<span style='color:#d2cd86; '>.</span>GetService<span style='color:#d2cd86; '>&lt;</span>ITransientService<span style='color:#d2cd86; '>></span><span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span><span style='color:#b060b0; '>;</span>
</pre>
    
<p>Внедрять зависимости можно: 
    <ul type="square">
        <li>
            В конструктор
            <pre style='color:#d1d1d1;background:#111111;'><span style='color:#e66170; font-weight:bold; '>public</span> <span style='color:#e66170; font-weight:bold; '>class</span> BigService <span style='color:#d2cd86; '>:</span> IBigService
    <span style='color:#b060b0; '>{</span>
        <span style='color:#e66170; font-weight:bold; '>public</span> ITransientService TransientService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>

        <span style='color:#e66170; font-weight:bold; '>public</span> BigService<span style='color:#d2cd86; '>(</span>ITransientService transientService<span style='color:#d2cd86; '>)</span>
        <span style='color:#b060b0; '>{</span>
            TransientService <span style='color:#d2cd86; '>=</span> transientService<span style='color:#b060b0; '>;</span>
        <span style='color:#b060b0; '>}</span>
    <span style='color:#b060b0; '>}</span>
</pre>
        </li>
        <li>В свойство(необходим сеттер, используется для инжектирования необязательных зависимостей. Использовать не рекомендуется, т.к. порождает неявные зависимости)
            <pre style='color:#d1d1d1;background:#111111;'><span style='color:#e66170; font-weight:bold; '>public</span> <span style='color:#e66170; font-weight:bold; '>class</span> BigService <span style='color:#d2cd86; '>:</span> IBigService
    <span style='color:#b060b0; '>{</span>
        <span style='color:#e66170; font-weight:bold; '>public</span> ITransientService TransientService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#e66170; font-weight:bold; '>set</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
    <span style='color:#b060b0; '>}</span>
</pre>
        </li>
        <li>В метод(используется редко в случаях, когда классу зависимость нужна только в определенном методе)
            <pre style='color:#d1d1d1;background:#111111;'><span style='color:#e66170; font-weight:bold; '>public</span> <span style='color:#e66170; font-weight:bold; '>class</span> BigService <span style='color:#d2cd86; '>:</span> IBigService
    <span style='color:#b060b0; '>{</span>
        <span style='color:#e66170; font-weight:bold; '>public</span> ITransientService TransientService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>

        <span style='color:#e66170; font-weight:bold; '>public</span> StartBigService<span style='color:#d2cd86; '>(</span>ITransientService transientService<span style='color:#d2cd86; '>)</span>
        <span style='color:#b060b0; '>{</span>
            <span style='color:#d2cd86; '>.</span><span style='color:#d2cd86; '>.</span><span style='color:#d2cd86; '>.</span>
        <span style='color:#b060b0; '>}</span>
    <span style='color:#b060b0; '>}</span>
</pre>
        </li>
    </ul>
</p>

<h3>Жизненный цикл компонентов</h3>
<p>Зависимости различаются сроком жизни. Они могут быть:
    <ul type="square">
        <li><b>Singleton</b> - реализация <code>IServiceCollection</code> гарантирует, что будет создавать только один экземпляр типа <code>TService</code>, а значит, он будет singleton-экземпляром. 
        После первого вызова <code>GetService</code>, инициирующего создание экземпляра <code>TService</code>, тот же экземпляр всегда будет возвращаться в течение срока жизни <code>IServiceCollection</code>.</li>
        <li><b>Transient</b> - реализация <code>IServiceCollection</code> возвращает новый экземпляр при каждом вызове <code>GetService</code>, гарантируя, что вы всегда будете получать новый экземпляр типа <code>TService</code>.</li>
        <li><b>Scoped</b> - реализация <code>IServiceCollection</code> возвращает один и тот же экземпляр внутри данного контекста и создает новый экземпляр всякий раз, когда контекст (известный как область видимости) изменяется.</li>
        <li><b>Instance</b> - вызов <code>GetService</code> не только вернет объект типа <code>TService</code>, но и гарантирует, что им будет специфический <code>ImplementationInstance</code>, зарегистрированный с помощью <code>AddInstance</code>. 
        Иначе говоря, регистрация с помощью <code>AddInstance</code> сохраняет экземпляр специфического <code>ImplementationInstance</code>, чтобы он мог возвращаться при каждом вызове <code>GetService</code> с параметром-типом <code>TService</code> метода <code>AddInstance</code>.</li>
    </ul>
</p>
    
<pre style='color:#d1d1d1;background:#111111;'><span style='color:#e66170; font-weight:bold; '>public</span> <span style='color:#e66170; font-weight:bold; '>class</span> DependencyInjectionController <span style='color:#d2cd86; '>:</span> Controller
    <span style='color:#b060b0; '>{</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> ITransientService TransientService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> IScopedService ScopedService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> ISingletonService SingletonService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> ISingletomInstanceService SingletomInstanceService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> IBigService BigService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>

    <span style='color:#e66170; font-weight:bold; '>public</span> DependencyInjectionController<span style='color:#d2cd86; '>(</span>ITransientService transientService<span style='color:#d2cd86; '>,</span> IScopedService scopedService<span style='color:#d2cd86; '>,</span>
            ISingletonService singletonService<span style='color:#d2cd86; '>,</span> ISingletomInstanceService singletomInstanceService<span style='color:#d2cd86; '>,</span> IBigService bigService<span style='color:#d2cd86; '>)</span>
    <span style='color:#b060b0; '>{</span>
            TransientService <span style='color:#d2cd86; '>=</span> transientService<span style='color:#b060b0; '>;</span>
            ScopedService <span style='color:#d2cd86; '>=</span> scopedService<span style='color:#b060b0; '>;</span>
            SingletonService <span style='color:#d2cd86; '>=</span> singletonService<span style='color:#b060b0; '>;</span>
            SingletomInstanceService <span style='color:#d2cd86; '>=</span> singletomInstanceService<span style='color:#b060b0; '>;</span>
            BigService <span style='color:#d2cd86; '>=</span> bigService<span style='color:#b060b0; '>;</span>
    <span style='color:#b060b0; '>}</span>

    <span style='color:#e66170; font-weight:bold; '>public</span> IActionResult Index<span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span>
    <span style='color:#b060b0; '>{</span>
            ViewBag<span style='color:#d2cd86; '>.</span>Transient <span style='color:#d2cd86; '>=</span> TransientService<span style='color:#b060b0; '>;</span>
            ViewBag<span style='color:#d2cd86; '>.</span>Scoped <span style='color:#d2cd86; '>=</span> ScopedService<span style='color:#b060b0; '>;</span>
            ViewBag<span style='color:#d2cd86; '>.</span>Singleton <span style='color:#d2cd86; '>=</span> SingletonService<span style='color:#b060b0; '>;</span>
            ViewBag<span style='color:#d2cd86; '>.</span>SingletonInstance <span style='color:#d2cd86; '>=</span> SingletomInstanceService<span style='color:#b060b0; '>;</span>
            
            ViewBag<span style='color:#d2cd86; '>.</span>Service <span style='color:#d2cd86; '>=</span> BigService<span style='color:#b060b0; '>;</span>
    <span style='color:#e66170; font-weight:bold; '>return</span> View<span style='color:#d2cd86; '>(</span><span style='color:#d2cd86; '>)</span><span style='color:#b060b0; '>;</span>
    <span style='color:#b060b0; '>}</span>
    <span style='color:#b060b0; '>}</span>
</pre>
    
    <pre style='color:#d1d1d1;background:#111111;'><span style='color:#e66170; font-weight:bold; '>public</span> <span style='color:#e66170; font-weight:bold; '>class</span> BigService <span style='color:#d2cd86; '>:</span> IBigService
    <span style='color:#b060b0; '>{</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> ITransientService TransientService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> IScopedService ScopedService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> ISingletonService SingletonService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>
    <span style='color:#e66170; font-weight:bold; '>public</span> ISingletomInstanceService SingletomInstanceService <span style='color:#b060b0; '>{</span> <span style='color:#e66170; font-weight:bold; '>get</span><span style='color:#b060b0; '>;</span> <span style='color:#b060b0; '>}</span>

    <span style='color:#e66170; font-weight:bold; '>public</span> BigService<span style='color:#d2cd86; '>(</span>ITransientService transientService<span style='color:#d2cd86; '>,</span> IScopedService scopedService<span style='color:#d2cd86; '>,</span>
            ISingletonService singletonService<span style='color:#d2cd86; '>,</span> ISingletomInstanceService singletomInstanceService<span style='color:#d2cd86; '>)</span>
    <span style='color:#b060b0; '>{</span>
            TransientService <span style='color:#d2cd86; '>=</span> transientService<span style='color:#b060b0; '>;</span>
            ScopedService <span style='color:#d2cd86; '>=</span> scopedService<span style='color:#b060b0; '>;</span>
            SingletonService <span style='color:#d2cd86; '>=</span> singletonService<span style='color:#b060b0; '>;</span>
            SingletomInstanceService <span style='color:#d2cd86; '>=</span> singletomInstanceService<span style='color:#b060b0; '>;</span>
    <span style='color:#b060b0; '>}</span>
    <span style='color:#b060b0; '>}</span>
</pre>
    
<h4>DependencyInjectionController</h4>

<p><b>Transient</b> @ViewBag.Transient.Guid</p>
<p><b>Scoped</b> @ViewBag.Scoped.Guid</p>
<p><b>Singleton</b> @ViewBag.Singleton.Guid</p>
<p><b>Instance</b> @ViewBag.SingletonInstance.Guid</p>
    
<h4>BigService</h4>

<p><b>Transient</b> @ViewBag.Service.TransientService.Guid</p>
<p><b>Scoped</b> @ViewBag.Service.ScopedService.Guid</p>
<p><b>Singleton</b> @ViewBag.Service.SingletonService.Guid</p>
<p><b>Instance</b> @ViewBag.Service.SingletomInstanceService.Guid</p>


</body>

</html>